#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}

.clock-size{
font-size: 6rem;

}
.todoCard{
  background-color: rgba(53, 56, 56, 0.452);
position: static;
}

.bg-weather{
  text-shadow: 4px 2px red;
}

.bg-clock{
  text-shadow: 4px 2px red;
}
.complete{
  text-decoration: line-through;
  color: chartreuse;
}

.author-hide {
  display: none;
}

.author-show:hover .author-hide {
  display: block;
}

.hidden{
  display: none;
}
/*  */