#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}


.todoCard{
  background-color: rgba(53, 56, 56, 0.452);
  box-shadow: rgb(226, 16, 181);
  border:solid 1px black;
}

/* .bg-weather{
  background-color: rgba(241, 255, 47, 0.658);

} */
.complete{
  text-decoration: line-through;
  color: chartreuse;
}

.author-hide {
  display: none;
}

.author-show:hover .author-hide {
  display: block;
}

.hidden{
  display: none;
}
/*  */